<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= render :partial => 'user_step', :locals => {:form => form} %>
<%= render :partial => 'account_step', :locals => {:form => form} , :class => "secound_form", :display => "none"%>

<% end %>

<script>

  $(".btn-btn-primary").click(function(){
  $(".secound_form").show();
});
</script>