<nav class="navbar navbar-expand-lg navbar-light bg-light">
<%= image_tag("logos/entropy.png", width: "200px") %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
   
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Add Friend", new_friend_path, :style => "margin-left: 50px;" , class: "btn btn-outline-primary"%>
        </li>

        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, :style => "margin-left: 50px;", class: "btn btn-outline-primary" %>
        </li>

         <form class="form-inline my-2 my-lg-0">
           <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :style => "margin-left: 1120px;", class: "btn btn-outline-success my-2 my-sm-0"%>
        </form>

      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, :style => "margin-left: 50px;", class: "btn btn-outline-primary" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, :style => "margin-left: 50px;" , class: "btn btn-outline-primary"%>
        </li>
      <% end %>
    
  </ul>
</div>
</nav>

